@use "../helpers" as *;

.author-info {
  background-image: url(../../images/bg_img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: rem(20);
    margin-block: rem(250);
  }

  &__title {
    text-align: center;

    em {
      color: var(--color-accent);
    }
  }
}
