@use "../helpers" as *;

.projects {
  background-color: var(--color-dark);

  &__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: rem(60);
    margin-block: rem(70);
  }

  &__title {
    color: var(--color-light);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: rem(30);
  }
}

.project {
  &__item {
    background-image: linear-gradient(163deg, #f947db 0%, #0f5cd8 100%);
    border-radius: 20px;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0px 0px 30px 1px rgba(255, 33, 159, 0.449);
    }
  }

  &__card {
    background-color: #1a1a1ad7;
    transition: all 0.2s;

    &:hover {
      transform: scale(0.98);
      border-radius: 20px;
    }

    &--title {
      padding-left: rem(20);
      padding-top: rem(15);
      padding-bottom: rem(25);
    }
  }

  &__image {
    border-radius: rem(20);
  }
}
