@use "../helpers" as *;

.project-details {
  &__wrapper {
    display: grid;
    place-items: center;
    row-gap: rem(30);
    margin-block: rem(70);
  }

  &__description {
    color: var(--color-вфклht);
  }

  &__text {
    @include fluid-text(18, 16);
    font-weight: 700;
  }
}
