@use "../helpers" as *;

.soc1al {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: rem(30);
    padding-top: rem(60);
    padding-bottom: rem(30);
    border-top: 1px solid var(--color-accent);

    &__item {
      @include square(45px);
    }

    @include laptop {
      padding-top: rem(30);
    }

    @include mobile {
      column-gap: rem(15);
      padding-bottom: rem(15);
    }
  }
}
