@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  color: var(--color-black);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: var(--color-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-base);
  font-weight: 700;
}

h1,
.h1 {
  @include fluid-text(40, 30);
  line-height: 1.4;
}

h2,
.h2 {
  @include fluid-text(60, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(40, 24);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(2) dashed var(--color-accent);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}
