@use "helpers" as *;

html {
  &.is-lock {
    overflow: hidden;
  }
}

body {
  @include fluid-text(18, 14);

  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  color: var(--color-dark);
  background-color: var(--color-light);

  &.dark {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

body.dark {
  .h1 {
    color: var(--color-light);
  }
  .header {
    background-color: #252526;

    &__menu {
      color: var(--color-light);

      @include mobile {
        background-color: var(--color-dark);
        color: var(--color-light);
      }
    }
  }

  main {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  .bar1,
  .bar2,
  .bar3 {
    background-color: var(--color-light);
  }

  .author-info__title {
    color: var(--color-light);
  }

  .project-details {
    &__description {
      color: var(--color-light);
    }
  }

  .footer__soc1als {
    background-color: #252526;
  }
}

main {
  flex-grow: 1;
  background-color: var(--color-light);
  color: var(--color-dark);

  &.projects {
    background-color: var(--color-dark);
    color: var(--color-light);
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: var(--color-dark);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-base);
  font-weight: 700;
}

h1,
.h1 {
  @include fluid-text(40, 30);
  line-height: 1.4;
}

h2,
.h2 {
  @include fluid-text(60, 28);

  line-height: 1.3;
}

h3,
.h3 {
  @include fluid-text(24, 20);
  color: var(--color-light);
}

p {
  --paragraphMarginBottom: #{rem(24)};
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-accent);
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: rem(4) dashed var(--color-accent);
  outline-offset: rem(4);
  transition-duration: 0s !important;
}

a,
button {
  &[aria-label] {
    position: relative;

    &::before {
      @include abs-center;
      @include square(rem(44));

      content: "";
    }
  }
}
