@use "helpers" as *;

:root {
  --color-light: #f8f8f8;

  --color-dark: #171718;

  --color-accent: #0088ff;

  --border: #{rem(1)} solid var(--color-accent);

  --font-family-base: "DM Sans", sans-serif;
  --font-family-accent: "Poppins", sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(15)};

  --transition-duration: 0.2s;
}
