@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

@use "./blocks/header";
@use "./blocks/author-info";
@use "./blocks/projects";
@use "./blocks/soc1al";
@use "./blocks/link-button";
