@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
 */
[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DMSans";
  src: url("../fonts/DMSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #f8f8f8;
  --color-dark: #171718;
  --color-accent: #0088ff;
  --border: 0.0625rem solid var(--color-accent);
  --font-family-base: "DM Sans", sans-serif;
  --font-family-accent: "Poppins", sans-serif;
  --container-width: 75rem;
  --container-padding-x: 0.9375rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;
}
.full-vw-line::before, .full-vw-line::after {
  position: absolute;
  width: calc((var(--100vw) - var(--container-width)) / 2);
  height: 0.0625rem;
  background-color: var(--color-dark-15);
}
.full-vw-line--top::before {
  content: "";
  bottom: 100%;
}
.full-vw-line--bottom::after {
  content: "";
  top: 100%;
}
.full-vw-line--left::before, .full-vw-line--left::after {
  right: 100%;
}
.full-vw-line--right::before, .full-vw-line--right::after {
  left: 100%;
}

.circle-icon {
  --circleSize: 3.25rem;
  --circleMarginLeft: 1.25rem;
  position: relative;
  min-height: var(--circleSize);
  padding-right: calc(var(--circleSize) + var(--circleMarginLeft));
}
@media (width <= 90.06125rem) {
  .circle-icon {
    --circleSize: 2.75rem;
    --circleMarginLeft: 0.875rem;
  }
}
@media (width <= 47.99875rem) {
  .circle-icon {
    --circleSize: 2.5rem;
  }
}
.circle-icon::after {
  width: var(--circleSize);
  height: var(--circleSize);
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  content: "";
  right: 0;
  background: url("../../icons/arrow-top-right_black.svg") center no-repeat var(--color-accent);
  border-radius: 50%;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.7944214876rem + 0.3305785124vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.01em;
  color: var(--color-dark);
  background-color: var(--color-light);
}
body.dark {
  background-color: var(--color-dark);
  color: var(--color-light);
}

body.dark .author-info__title {
  color: var(--color-light);
}

main {
  flex-grow: 1;
  background-color: var(--color-dark);
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  color: var(--color-light);
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--font-family-base);
  font-weight: 700;
}

h1,
.h1 {
  font-size: clamp(1.875rem, 1.673553719rem + 0.826446281vw, 2.5rem);
  line-height: 1.4;
}

h2,
.h2 {
  font-size: clamp(1.75rem, 1.1053719008rem + 2.6446280992vw, 3.75rem);
  line-height: 1.3;
}

h3,
.h3 {
  font-size: clamp(1.25rem, 1.1694214876rem + 0.3305785124vw, 1.5rem);
  color: var(--color-light);
}

p {
  --paragraphMarginBottom: 1.5rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.25rem dashed var(--color-accent);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.header {
  border-bottom: 1px solid var(--color-accent);
}
.header__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  padding-block: 1.5625rem;
  font-family: var(--font-family-accent);
}
.header__logo {
  font-size: clamp(1.125rem, 1.0041322314rem + 0.4958677686vw, 1.5rem);
  font-weight: 700;
}
.header__menu-list {
  display: flex;
  align-items: center;
  gap: 1.5625rem;
}
.header__menu-link {
  font-size: 1.125rem;
  font-weight: 500;
}
.header__menu-link.is-active {
  position: relative;
}
.header__menu-link.is-active::before {
  position: absolute;
  left: 0;
  top: 100%;
  content: "";
  display: block;
  height: 0.125rem;
  width: 100%;
  background-color: var(--color-accent);
}

.author-info {
  background-image: url(../../images/bg_img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto;
}
.author-info__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.25rem;
  margin-block: 15.625rem;
}
@media (width <= 47.99875rem) {
  .author-info__wrapper {
    margin-block: 12.5rem;
  }
}
.author-info__title {
  text-align: center;
  color: var(--color-dark);
}
.author-info__title em {
  color: var(--color-accent);
}

.projects__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 3.75rem;
  margin-block: 4.375rem;
}
.projects__title {
  text-align: center;
  color: var(--color-light);
}
.projects__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

.project__item {
  background-image: linear-gradient(163deg, #f947db 0%, #0f5cd8 100%);
  border-radius: 20px;
  transition: all 0.3s;
}
.project__item:hover {
  box-shadow: 0px 0px 30px 1px rgba(255, 33, 159, 0.449);
}
.project__card {
  background-color: rgba(26, 26, 26, 0.8431372549);
  transition: all 0.2s;
}
.project__card:hover {
  transform: scale(0.98);
  border-radius: 20px;
}
.project__card--title {
  padding-left: 1.25rem;
  padding-top: 0.9375rem;
  padding-bottom: 1.5625rem;
}
.project__image {
  border-radius: 1.25rem;
}

.soc1al__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  padding-top: 3.75rem;
  padding-bottom: 1.875rem;
}
@media (width <= 90.06125rem) {
  .soc1al__list {
    padding-top: 1.875rem;
  }
}
@media (width <= 47.99875rem) {
  .soc1al__list {
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
    padding-bottom: 0.9375rem;
  }
}

.footer__extra {
  text-align: center;
  padding-bottom: 3.125rem;
}
@media (width <= 90.06125rem) {
  .footer__extra {
    padding-bottom: 1.25rem;
  }
}

.link-button {
  --color-button: var(--color-dark);
  display: grid;
  place-items: center;
  margin-top: 1.25rem;
  position: relative;
  overflow: hidden;
  height: 4rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: var(--color-accent);
  background-size: 400%;
  color: var(--color-button);
  border: none;
  cursor: pointer;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.link-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #68f0ff 10.8%, #f947db 94.3%);
  transition: all 0.475s;
}
.link-button:hover::before {
  transform: scaleX(1);
}
.link-button__content {
  display: grid;
  place-items: center;
  grid-template-columns: auto auto;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  padding-block: 0.75rem;
  position: relative;
  z-index: 1;
  font-size: 18px;
  font-family: inherit;
  font-weight: 700;
}
.link-button__content:hover {
  color: var(--color-light);
}
.link-button__light {
  --color-button: var(--color-light);
  background: var(--color-dark);
}

/*

@use "../helpers" as *;

.link-button {
  --color-button: var(--color-dark);

  display: grid;
  place-items: center;
  margin-top: rem(20);

  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  font-size: 15px;
  font-family: inherit;
  border: none;
  background: #3d3a4e;
  background-size: 400%;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  color: var(--color-button);
  cursor: pointer;

  &__light {
    --color-button: var(--color-light);

    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    column-gap: rem(10);

    //   padding: rem(12) rem(20);

    &--wrapper {
      position: relative;
      overflow: hidden;
      height: 3rem;
      padding: 0 2rem;
      border-radius: 1.5rem;
      background: #3d3a4e;
      background-size: 400%;
      color: #fff;
      border: none;
      cursor: pointer;
    }
  }

  &:hover {
    color: var(--color-light);
    &::before {
      width: 9em;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    transition: all 0.475s;
  }

  &__content {
    position: relative;
    z-index: 1;
  }
}
*/
.project-details__wrapper {
  display: grid;
  place-items: center;
  row-gap: 1.875rem;
  margin-block: 4.375rem;
}
.project-details__description {
  color: var(--color-light);
}
.project-details__text {
  font-size: clamp(1rem, 0.9597107438rem + 0.1652892562vw, 1.125rem);
  font-weight: 700;
}

.skills-contacts__wrapper {
  max-width: 36.25rem;
  display: grid;
  place-items: center;
  gap: 2.5rem;
  padding-top: 4.375rem;
}
.skills-contacts__title {
  border: 5px dashed var(--color-accent);
  color: var(--color-accent);
  background-color: var(--color-light);
  border-radius: 50%;
  padding: 1.25rem;
}
.skills-contacts__title:hover {
  scale: 1.1;
  background: linear-gradient(82.3deg, #68f0ff 10.8%, #f947db 94.3%);
  transition-duration: 0.4s;
  color: var(--color-light);
  border: 5px solid var(--color-light);
}
.skills-contacts__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;
  padding-bottom: 1.875rem;
}
.skills-contacts__text1 {
  margin-bottom: 1.25rem;
}
.skills-contacts__label {
  margin-bottom: 1.25rem;
}

.theme-switch {
  --toggle-size: 30px;
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  --container-light-bg: #3d7eae;
  --container-night-bg: #1d1f2c;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ecca2f;
  --moon-bg: #c4c9d1;
  --spot-color: #959db1;
  --circle-container-offset: calc(
    (var(--circle-container-diameter) - var(--container-height)) / 2 * -1
  );
  --stars-color: #fff;
  --clouds-color: #f3fdff;
  --back-clouds-color: #aacadf;
  --transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: 0.3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius);
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: flex;
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  transition: var(--transition);
}

.theme-switch__moon {
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  transition: var(--transition);
}

/* actions */
.theme-switch__checkbox:checked + .theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em);
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__moon {
  transform: translate(0);
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked + .theme-switch__container .theme-switch__stars-container {
  top: 50%;
  transform: translateY(-50%);
}/*# sourceMappingURL=main.css.map */